h2 {
  color: rgb(158, 23, 23);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
  color: rgb(26, 26, 117);
  text-align: center;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}